In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../Dataset/data_6_1_1.csv')

In [4]:
df.head(10)

    구급대                 출동시간                 도착시간
0  구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1  구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2  구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3  구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4  구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21
5  구급대6  2020-07-10 06:12:24  2020-07-10 06:30:45
6  구급대9  2020-07-13 06:11:50  2020-07-13 06:44:00
7  구급대8  2020-07-12 06:11:52  2020-07-12 07:06:15
8  구급대9  2020-07-10 06:11:40  2020-07-10 07:49:21
9  구급대3  2020-07-21 06:11:36  2020-07-21 07:15:18

In [5]:
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

In [6]:
df['이동시간'] = df['도착시간'] - df['출동시간']
df['이동시간'] = df['이동시간'].dt.total_seconds() / 60
df.head(10)

    구급대                출동시간                도착시간        이동시간
0  구급대8 2020-07-10 06:11:45 2020-07-10 06:52:06   40.350000
1  구급대9 2020-07-13 06:12:21 2020-07-13 07:58:59  106.633333
2  구급대1 2020-07-06 06:12:29 2020-07-06 07:51:55   99.433333
3  구급대5 2020-07-21 06:11:41 2020-07-21 08:08:36  116.916667
4  구급대1 2020-07-29 06:12:00 2020-07-29 07:24:21   72.350000
5  구급대6 2020-07-10 06:12:24 2020-07-10 06:30:45   18.350000
6  구급대9 2020-07-13 06:11:50 2020-07-13 06:44:00   32.166667
7  구급대8 2020-07-12 06:11:52 2020-07-12 07:06:15   54.383333
8  구급대9 2020-07-10 06:11:40 2020-07-10 07:49:21   97.683333
9  구급대3 2020-07-21 06:11:36 2020-07-21 07:15:18   63.700000

In [8]:
group_mean = df.groupby('구급대')['이동시간'].mean()
result = round(group_mean.max())
print(result)

83