In [1]:
import pandas as pd
import numpy as np

## 1-1번

In [3]:
lst = np.array([10, 11, 11.2, 13, 15.5, 18, 19.8, 20, 31, 33, 39.5, 42])

In [7]:
print(np.percentile(lst, 25))
print(np.percentile(lst, 75))

12.55
31.5

## 1-2번

In [11]:
fb = pd.read_csv("../dataset/facebook.csv")

In [12]:
fb.head(10)

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,213,0,0,204,9,0,0,0,0
5,246675545449582_1645650162218773,photo,217,6,0,211,5,1,0,0,0
6,246675545449582_1645564175560705,video,503,614,72,418,70,10,2,0,3
7,246675545449582_1644824665634656,video,295,453,53,260,32,1,1,0,1
8,246675545449582_1644655795651543,photo,203,1,0,198,5,0,0,0,0
9,246675545449582_1638788379571618,photo,170,9,1,167,3,0,0,0,0

In [13]:
fb['positive'] = (fb['num_loves'] + fb['num_wows']) / fb['num_reactions']

In [14]:
fb['positive'].describe()

count    6929.000000
mean        0.049604
std         0.101727
min         0.000000
25%         0.000000
50%         0.000000
75%         0.040000
max         1.000000
Name: positive, dtype: float64

In [15]:
result = fb[(fb['positive'] > 0.4) & (fb['positive'] < 0.5) & (fb['status_type'] == 'video')]
len(result)

90

## 1-3번

In [17]:
df = pd.read_csv("../dataset/netflix.csv")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [19]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [20]:
result = df[df['date_added'].str.contains('January') & df['date_added'].str.contains('2018')]
result.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5055,s5056,Movie,Expedition Happiness,Selima Taibi,"Selima Taibi, Felix Starck",Germany,"January 31, 2018",2017,TV-PG,96 min,"Documentaries, International Movies",A filmmaker and his musician girlfriend attemp...
5056,s5057,Movie,Jerry Seinfeld: I'm Telling You for the Last Time,Marty Callner,Jerry Seinfeld,United States,"January 30, 2018",1998,TV-14,69 min,Stand-Up Comedy,"Months after his classic TV sitcom ends, the l..."
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,"January 30, 2018",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",A dark web of secrets and lies emerges when a ...
5058,s5059,Movie,Holy Camp!,"Javier Ambrossi, Javier Calvo","Macarena García, Anna Castillo, Belén Cuesta, ...",Spain,"January 29, 2018",2017,TV-MA,108 min,"Comedies, Dramas, Faith & Spirituality","In this musical comedy, two rebellious teen gi..."
5059,s5060,Movie,A Futile and Stupid Gesture,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,"January 26, 2018",2018,TV-MA,102 min,Comedies,"In a brief life full of triumph and failure, ""..."

In [21]:
temp = result[result['country'] == 'United Kingdom']
print(len(temp))

6

## 2번

In [22]:
import pandas as pd

X_test = pd.read_csv('../Dataset/CS_Seg_X_test.csv')
X_train = pd.read_csv('../Dataset/CS_Seg_X_train.csv')
y_train = pd.read_csv('../Dataset/CS_Seg_y_train.csv')

print(X_train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size
0            Low          4.0
1            Low          1.0
2           High          2.0
3        Average          2.0
4            Low          3.0

In [23]:
# 데이터 나누기
# 범주형 데이터
X_train_word = X_train[['Gender','Ever_Married','Graduated','Profession' ,'Spending_Score']]
X_test_word = X_test[['Gender','Ever_Married','Graduated','Profession' ,'Spending_Score']]
print(X_train_word)

# 수치형 데이터
X_train_num= X_train.drop(columns=['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score'])
X_test_num= X_test.drop(columns=['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score'])
print(X_train_num)

      Gender Ever_Married Graduated  Profession Spending_Score
0       Male           No        No  Healthcare            Low
1     Female          Yes       Yes    Engineer            Low
2       Male          Yes       Yes      Lawyer           High
3       Male          Yes        No      Artist        Average
4       Male           No       Yes  Healthcare            Low
...      ...          ...       ...         ...            ...
6713    Male          Yes       Yes      Artist           High
6714    Male           No        No   Executive            Low
6715  Female           No       Yes  Healthcare            Low
6716  Female           No       Yes  Healthcare            Low
6717    Male          Yes       Yes   Executive        Average

[6718 rows x 5 columns]
      Age  Work_Experience  Family_Size
0      22              1.0          4.0
1      67              1.0          1.0
2      67              0.0          2.0
3      56              0.0          2.0
4      32              1.0          3.0
...   ...              ...          ...
6713   41              0.0          5.0
6714   35              3.0          4.0
6715   33              1.0          1.0
6716   27              1.0          4.0
6717   37              0.0          3.0

[6718 rows x 3 columns]

In [24]:
# 데이터 스케일링
from sklearn.preprocessing import MinMaxScaler

# MinMax 스케일러 생성
scaler = MinMaxScaler()

# 선택한 특성에 MinMax 스케일러를 적용하고 데이터 변환
X_train_num_scale = scaler.fit_transform(X_train_num)
X_test_num_scale = scaler.transform(X_test_num)

# 데이터 프레임 설정
df_train_num = pd.DataFrame(X_train_num_scale , columns = X_train_num.columns)
df_test_num = pd.DataFrame(X_test_num_scale , columns = X_test_num.columns)

# 원핫 인코딩
df_train_word = pd.get_dummies(X_train_word)
df_test_word = pd.get_dummies(X_test_word)

# 데이터 결합
df_train = pd.concat([df_train_num, df_train_word], axis = 1)
df_test = pd.concat([df_test_num, df_train_word], axis = 1)
print(df_train)

           Age  Work_Experience  Family_Size  Gender_Female  Gender_Male  \
0     0.056338         0.071429        0.375          False         True
1     0.690141         0.071429        0.000           True        False
2     0.690141         0.000000        0.125          False         True
3     0.535211         0.000000        0.125          False         True
4     0.197183         0.071429        0.250          False         True
...        ...              ...          ...            ...          ...
6713  0.323944         0.000000        0.500          False         True
6714  0.239437         0.214286        0.375          False         True
6715  0.211268         0.071429        0.000           True        False
6716  0.126761         0.071429        0.375           True        False
6717  0.267606         0.000000        0.250          False         True

      Ever_Married_No  Ever_Married_Yes  Graduated_No  Graduated_Yes  \
0                True             False          True          False
1               False              True         False           True
2               False              True         False           True
3               False              True          True          False
4                True             False         False           True
...               ...               ...           ...            ...
6713            False              True         False           True
6714             True             False          True          False
6715             True             False         False           True
6716             True             False         False           True
6717            False              True         False           True

      Profession_Artist  ...  Profession_Engineer  Profession_Entertainment  \
0                 False  ...                False                     False
1                 False  ...                 True                     False
2                 False  ...                False                     False
3                  True  ...                False                     False
4                 False  ...                False                     False
...                 ...  ...                  ...                       ...
6713               True  ...                False                     False
6714              False  ...                False                     False
6715              False  ...                False                     False
6716              False  ...                False                     False
6717              False  ...                False                     False

      Profession_Executive  Profession_Healthcare  Profession_Homemaker  \
0                    False                   True                 False
1                    False                  False                 False
2                    False                  False                 False
3                    False                  False                 False
4                    False                   True                 False
...                    ...                    ...                   ...
6713                 False                  False                 False
6714                  True                  False                 False
6715                 False                   True                 False
6716                 False                   True                 False
6717                  True                  False                 False

      Profession_Lawyer  Profession_Marketing  Spending_Score_Average  \
0                 False                 False                   False
1                 False                 False                   False
2                  True                 False                   False
3                 False                 False                    True
4                 False                 False                   False
...                 ...                   ...                     ...
6713              False                 False                   False
6714              False                 False                   False
6715              False                 False                   False
6716              False                 False                   False
6717              False                 False                    True

      Spending_Score_High  Spending_Score_Low
0                   False                True
1                   False                True
2                    True               False
3                   False               False
4                   False                True
...                   ...                 ...
6713                 True               False
6714                False                True
6715                False                True
6716                False                True
6717                False               False

[6718 rows x 21 columns]

In [25]:
from pandas.core.common import random_state
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# target 값 변경
y_train[y_train['Segmentation'] =='A'] = 0
y_train[y_train['Segmentation'] =='B'] = 1
y_train[y_train['Segmentation'] =='C'] = 2
y_train[y_train['Segmentation'] =='D'] = 3

# 모델 생성
model = xgb.XGBClassifier(random_state=77)

# train, validation 데이터 설정
X_train, X_val, y_train_t, y_val = train_test_split(df_train.values, y_train['Segmentation'].values, test_size=0.3)

# 모델 학습
model.fit(X_train, y_train_t)

# vaidation 데이터로 성능 평가
y_pred = model.predict(X_val)
print(classification_report(y_val.astype(int), y_pred))

              precision    recall  f1-score   support

           0       0.41      0.44      0.43       461
           1       0.40      0.32      0.35       501
           2       0.54      0.58      0.56       513
           3       0.62      0.66      0.64       541

    accuracy                           0.50      2016
   macro avg       0.49      0.50      0.49      2016
weighted avg       0.50      0.50      0.50      2016

In [26]:
# 예측
y_pred = model.predict(df_test)
df = pd.DataFrame(y_train['ID'], columns=['ID'])
df['Segmentation'] = y_pred

# Segmentation 데이터를 숫자에서 문자로 수정
df['Segmentation'][df['Segmentation'] ==0] = 'A'
df['Segmentation'][df['Segmentation'] ==1] = 'B'
df['Segmentation'][df['Segmentation'] ==2] = 'C'
df['Segmentation'][df['Segmentation'] ==3] = 'D'
print(df.head())

# CSV 파일 저장
# df.to_csv('result.csv', index=False)

   ID Segmentation
0   3            D
1   1            D
2   1            C
3   2            A
4   2            D

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_29338/765820964.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Segmentation'][df['Segmentation'] ==0] = 'A'
/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_29338/765820964.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'A' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['Segmentation'][df['Segmentation'] ==0] = 'A'